.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
}

.card {
  border-radius: 12px;
  background: #222222;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0
}

.instruction {
  padding-bottom: 20px;
}

#containerInstructions {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.loaderDetail {
  justify-content: center;
  display: flex;
}

.imageDetail {
  border-radius: 12px 0px 0px 12px;
  width: auto;
  height: 400px;
}

#informationDetail {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}

.bigTitleDetail {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0;
  padding-left: 8px;
}

.titleDetail{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #AAAAAA;
  margin: 0;
  padding-bottom: 12px;
  padding-left: 8px;
}

#favoriteButton {
  height: 62px;
  background: #D13F3F;
  border-radius: 10px;
  border-width: 0;
  margin: 8px 8px 12px 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  
}