#containerDetail {
  display: flex;
  flex-direction:column
}
#containerInstructions {
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}
.instruction {
  padding-bottom: 20px;
}
#title {
  text-align: center
}

